/* All styles */

.App {
  text-align: center;
}

@font-face {
  src: url(fonts/Martini-Regular.otf);
  font-family: Martini Regular;
}

@font-face {
  src: url(fonts/BagnardSans.otf);
  font-family: Bagnard Sans;
}

.text {
  font-family: Bagnard Sans;
}

.badge-mine {
  color: white;
  background-color: hsl(111, 44%, 18%);
}

.card__link {
  font-family: Bagnard Sans;
  word-break: break-word;
  color: hsl(161, 100%, 18%);
}

/* Mobile */
.formcard-body {
  position: absolute;
  width: 80%;
  margin-top: 1.5rem;
}

/* Desktop only styles */
@media only screen and (min-width: 768px) {
  .formcard-body {
    position: absolute;
    width: 50%;
    margin-top: 1.5rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
  }
}
